<% @title = "Providers" %>

<div class="grid-x grid-margin-x">

  <% @providers.each do |provider| %>
    <div class="cell medium-6">
      <div class="card">
        <div class="card-divider grid-x">
          <h3 class="cell auto"><%= provider.name %>
          </h3>
          <%= link_to "View", provider_path(provider), class: "cell shrink button", style: "margin-top: auto;margin-bottom: auto;" %>
          <small class="cell dark"><%= provider.service_type.capitalize %> Services</small>
        </div>
        <div class="card-section">
          <p><%= provider.description %></p>
          <hr>
          <h5>Call/Email for a quote</h5>
          <div class="grid-x">
            <p class="cell medium-6">Phone: <%= provider.phone %></p>
            <p class="cell medium-6">Email: <%= provider.email %></p>
          </div>
          <h5>Visit their website</h5>
          <%= link_to "View Site", "//#{provider.website}" %>
          <hr>
          <h5>View available services</h5>
          <p><%= link_to "More", "#", { data: { toggle: "#{provider.id}_more" } } %></p>

          <div id="<%= provider.id %>_more" data-toggler=".hide" class="hide card-section">
            <% Service.filter_by_provider(provider.id).each do |service| %>
              <div>
                <%= link_to service.name, service_path(service) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% if @providers.length == 0 %>
    <div class="callout warning">
      <p>No service providers found.</p>
    </div>
  <% end %>

</div>
