<% @title = "Work with us" %>

<h1>Work with us</h1>
<p>We're always looking to expand our network of service providers, so if you would like to join our network, please fill out the form below and our staff will contact you as soon as possible.</p>

<%= form_with do |form| %>

<%= form.label :company, "Company Name" %>
<%= form.text_field :company, value: params[:company], placeholder: "Company Name" %>
<p class="help-text">Your companies name.</p>

<%= form.label :email, "Company Email" %>
<%= form.email_field :email, value: params[:email], placeholder: "example@example.com" %>
<p class="help-text">Your companies email address. Make sure it's accurate as we use this to contact you.</p>

<%= form.label :email, "Company Email" %>
<%= form.phone_field :phone, value: params[:phone], placeholder: "3023023002" %>
<p class="help-text">Your companies phone number. Make sure it's accurate as we use this to contact you.</p>

<%= form.label :services %>
<%= form.select :services, @type_options %>
<p class="help-text">The service you provide. If your company provides multiple types of service, you must apply for each type individually.</p>

<%= form.label :info, "Company Information" %>
<%= form.text_area :info %>
<p class="help-text">Please be as detailed as possible. Our staff make the initial judgement for inclusion in our programs based of this information.</p>

<%= form.submit "Submit", class: "button" %>
<% end %>
