<% @title = "Service: #{@service.name}" %>

<h1><%= @service.name %></h1>
<div class="grid-x grid-margin-x">
  <div class="cell medium-4">
    <%= render 'providers/view', provider: @service.provider %>
  </div>
  <div class="cell medium-8">
    <p><%= @service.advertisement %></p>
    <div>
      <h5>Description</h5>
      <p>
        <%= @service.description %>
      </p>
      <hr>
      <h5>Call/Email for a quote</h5>
    </div>
  </div>
</div>



<% if session[:siteadmin] %>
<div class="callout fill-warning">
  <h5>Admin Tools</h5>
  <%= link_to "Edit", edit_service_path(@service), class: "button secondary margin-0 rounded" %>
  <%= link_to "Delete", service_path(@service), class: "button alert margin-0 rounded", method: "delete" %>
</div>
<% end %>
