<% @title = "Contact" %>

<h1>Contact Us</h1>

<%= form_with do |form| %>
  <div class="input-group">
    <%= form.label :fname, "First Name", class: "input-group-label" %>
    <%= form.text_field :fname, class: "input-group-field", value: params[:fname] %>
    <%= form.label :lname, "Last Name", class: "input-group-label" %>
    <%= form.text_field :lname, class: "input-group-field", value: params[:lname] %>
  </div>
  <%= form.label :email, "Email" %>
  <%= form.email_field :email, value: params[:email] %>
  <%= form.label :content, "Your Inquiry" %>
  <%= form.text_area :content, value: params[:content] %>
  <%= form.submit "Submit", class: "button" %>
<% end %>
