<%= form_with model: appointment do |form| %>
  <h4>Patient Details</h4>

  <div class="input-group">
    <%= form.label :fname, "First Name", class: "input-group-label" %>
    <%= form.text_field :fname, class: "input-group-field" %>
    <%= form.label :lname, "Last Name", class: "input-group-label" %>
    <%= form.text_field :lname, class: "input-group-field" %>
  </div>
  <p class="help-text">Make sure to enter your name correctly, it will be used to locate your appointment</p>

  <%= form.label :dob, "Date of Birth" %>
  <%= form.date_field :dob, max: Date.today %>
  <p class="help-text">Make sure to enter your date of birth correctly, it will be used to locate your appointment</p>

  <br>

  <h4>Appointment Details</h4>

  <%= form.label :date %>
  <%= form.date_field :date, min: Date.today + 1, max: Date.today + 1.months %>

  <%= form.label :time %>
  <div class="input-group">
    <%= form.time_select :time,
        {
          start_hour: 10,
          end_hour: 18,
          minute_step: 30,
          ampm: true,
          ignore_date: true
        },
        { class: "input-group-field" } %>
  </div>

  <p class="help-text">Appointment times will be rounded down to the nearest 30 minute increment</p>

  <%= form.label :service_id %>
  <%= form.select :service_id, service_options, {}, disabled: @edit ||= false %>
  <p class="help-text">
    <% if @edit %>
      Service cannot be changed after the appointment is created. If you need a different service, cancel this appointment and request a new one
    <% else %>
      The service that will be provided at the appointment
    <% end %>
  </p>

  <% if session[:admin] %>
  <%= form.label :confirmed, "Appointment Confirmed?", style: "display: inline" %>
  <%= form.check_box :confirmed %>
  <br>
  <% end %>

  <%= form.submit @edit ? "Save" : "Schedule", class: "button" %>

<% end %>
