<!DOCTYPE html>
<html>
  <head>
    <title>DocLine -
      <%= @title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%
    if Rails.env.development? && session[:siteadmin]
      console
    end
       %>
      <div id="header">
        <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="large">
          <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
          <div class="title-bar-title">Menu</div>
        </div>

        <div class="top-bar" id="responsive-menu">
          <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu="data-dropdown-menu">
              <li class="menu-text">DocLine</li>
              <li>
                <%= link_to "Home", root_path %>
              </li>
              <li class="has-submenu">
                <%= link_to "Services", "#/" %>
                <ul class="submenu menu vertical" data-submenu="data-submenu">
                  <li><%= link_to "All", services_path %></li>
                  <% SERVICE_TYPES.each do |service| %>
                    <li>
                      <%= link_to "#{service.capitalize} Services", services_path(sort: service) %>
                    </li>
                  <% end %>
                </ul>
              </li>
              <li class="has-submenu">
                <%= link_to "Doctors", "#/" %>
                <ul class="submenu menu vertical" data-submenu="data-submenu">
                  <li><%= link_to "All", doctors_path %></li>
                  <% SERVICE_TYPES.each do |service| %>
                    <li>
                      <%= link_to "#{service.capitalize}", doctors_path(sort: service) %>
                    </li>
                  <% end %>
                </ul>
              </li>
              <li class="has-submenu">
                <%= link_to "Providers", "#/" %>
                <ul class="submenu menu vertical" data-submenu="data-submenu">
                  <li class="has-submenu">
                    <%= link_to "Who we work with", "#/" %>
                    <ul class="submenu menu vertical" data-submenu="data-submenu">
                      <li><%= link_to "All", providers_path %></li>
                      <% SERVICE_TYPES.each do |service| %>
                        <li>
                          <%= link_to "#{service.capitalize}", providers_path(sort: service) %>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                  <li>
                    <%= link_to "Work with us", join_providers_path %>
                  </li>
                </ul>
              </li>
              <li>
                <%= link_to "FAQ", more_faq_path %>
              </li>
              <li>
                <%= link_to "Contact", contact_path %>
              </li>
              <li class="has-submenu">
                <%= link_to "More", "#/" %>
                <ul class="submenu menu vertical" data-submenu="data-submenu">
                  <li>
                    <%= link_to "TSA", more_tsa_path %>
                  </li>
                  <li>
                    <%= link_to "CTE", more_cte_path %>
                  </li>
                  <li>
                    <%= link_to "About the Developers", more_devs_path %>
                  </li>
                  <li>
                    <%= link_to "About the Site", more_site_path %>
                  </li>
                  <li>
                    <%= link_to "About the Company", more_company_path %>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu="data-dropdown-menu">
              <li class="has-submenu">
                <a href="#/">Appointments</a>
                <ul class="submenu menu vertical" data-submenu="data-submenu">
                  <li>
                    <%= link_to "My Appointments", my_appointments_path %>
                  </li>
                  <li>
                    <%= link_to "Schedule an Appointment", new_appointment_path %>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <noscript>
          <div class="callout warning margin-0">
            Site functionality is not guaranteed without JavaScript enabled. Errors may occur.
          </div>
        </noscript>
      </div>

      <% if session[:siteadmin] %>
        <div class="fill-primary top-bar">
          <div class="top-bar-left">
            <h5>Development Quick Links</h5>
            <% {Doctor: new_doctor_path, Service: new_service_path, Provider: new_provider_path}.each do |name, func| %>
            <%= link_to "#{load_svg "plus", "icon-xs", "Plus", "margin-right: 0.5rem;", "data-equalizer-watch=\"#{name}\""}<span data-equalizer-watch>#{name}</span>".html_safe, func, class: "button success margin-0 rounded", data: { equalizer: name} %>
            <% end %>
            <p style="margin: 0; margin-top: 0.5rem;"><small>This blue section, the console at the bottom, and any orange box titled "Admin Tools" will NOT be visible on the production side, and are only for development</small></p>
          </div>
          <div class="top-bar-right">
            <%= link_to "#{load_svg "account-logout", "icon-xs icon-white", "Plus", "margin-right: 0.5rem;", "data-equalizer-watch=\"Logout\""}<span data-equalizer-watch=\"Logout\">Logout</span>".html_safe, more_logout_path, class: "button alert margin-0 rounded", data: {equalizer: "Logout"} %>
          </div>
        </div>
      <% end %>


      <div class="content" style="padding-top: 1rem">
        <div class="grid-container">
          <% flash.each do |name, msg| %>
            <div class="callout <%= name %>" data-closable="data-closable">
              <button class="close-button" aria-label="Close alert" type="button" data-close="data-close">
                <span aria-hidden="true">&times;</span>
              </button>
              <p><%= msg %></p>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>

      <%= raw Rails.application.assets_manifest.find_sources('iconic.svg').first %>
    </body>
  </html>
